<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Kelime Hesaplama Programi</h1>
    <p>Bu program Django uygulamsini denemek amaciyla yazilmis olup
        gerekli eklemeler yapilarak guncellenecektir...
    </p>
<form action="{% url 'index' %}">
        <input type="submit" value="Anasayfaya Git!" />
        </form>
<style>
body {
  border:6px ridge;
  width:50%;
  margin: 50px 0px 0px 300px;
  padding: 15px;
}
</style>
</body>
</html>
