body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;    
}
.clear  {
    clear: both
}
/* HEADER */
header {
    background: slateblue;
    padding: 10px;    
}
header .logo {
    width: 120px;
    margin: 20px auto;
    color: rgb(247, 234, 62);
}
header nav ul {
    width: 220px;
    margin: 0 auto;
}
header nav ul li {
    float: left;
    padding: 10px;
}
header nav ul li a {
    color: lemonchiffon;
}
header nav ul li a:hover {
    color: orangered;
}
.text_baslık {
    width: 420px;
    margin: 20px auto;
    color: rgb(223, 240, 192);
    background-color: rgb(213, 13, 231);
}
.text_alan {
    width: 450px;
    margin: 20px auto;
    color: rgb(247, 234, 62);
}
.giris_metin {
    width: 430px;
    margin: 50px auto;
    color: slateblue;
    background-color: lemonchiffon;
}
.sonuc {
    width: 430px;
    margin: 50px auto;
    color: slateblue;
    background-color: lemonchiffon;
}
.back {
    width: 90px;
    margin: 50px auto;
    
}